@model List<testMVC.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<body>


    @{
    foreach (var p in Model)
    {
        <tr>
         @p.ProductId
         @p.Name
        </tr>
       
    }
}

</body>
